<nav class="nav_main">
  <a href="/" class="link logo"><img src="{{site.baseurl}}/assets/logo.svg"></a>
  <a href="{{site.baseurl}}/design" class="link primary{% if page.permalink == "design/" %} active{% endif %}">Design</a>
  <a href="{{site.baseurl}}/photo" class="link primary{% if page.permalink == "photo/" %} active{% endif %}">Photo</a>
  <a href="{{site.baseurl}}/about" class="link primary{% if page.permalink == "about/" %} active{% endif %}">About</a>
  <a href="linkedin.com/in/atkinsonderek" class="link secondary"><img src="{{site.baseurl}}/assets/linkedin.svg"></a>
  <a href="https://medium.com/@derekatkinson/latest" class="link secondary"><img src="{{site.baseurl}}/assets/medium.svg"></a>
  <a href="https://www.instagram.com/d_e.r.e_k/" class="link secondary"><img src="{{site.baseurl}}/assets/instagram.svg"></a>
  <a href="mailto:derekatkinsondesign@gmail.com" class="link secondary"><img src="{{site.baseurl}}/assets/email.svg"></a>
  <!-- {% if page.slug == "js" %} active{% endif %} -->
</nav>
